
    <div class="productDetail">
      <div class="productDetail-left bg-color1">
          <% if @photos.present? %>

                <div class="productDetail-left-bigImage">
                  <%= image_tag(@product.photos[0].avatar.medium.url, class: "thumbnail img-responsive") %>
                </div>

                <div class="productDetail-left-imageList ">
                  <div class="productDetail-left-imageList-item">
                    <%= image_tag(@product.photos[0].avatar.medium.url, class: "thumbnail img-responsive")  %>
                  </div>
                  <div class="productDetail-left-imageList-item">
                    <%= image_tag(@product.photos[1].avatar.medium.url, class: "thumbnail img-responsive")  %>
                  </div>
                  <div class="productDetail-left-imageList-item">
                    <%= image_tag(@product.photos[2].avatar.medium.url, class: "thumbnail img-responsive")  %>
                  </div>
                  <div class="productDetail-left-imageList-item">
                    <%= image_tag(@product.photos[3].avatar.medium.url, class: "thumbnail img-responsive")  %>
                  </div>
                  <div class="productDetail-left-imageList-item bg-color4 productDetail-left-imageList-lastItem">
                    <%= image_tag(@product.photos[3].avatar.medium.url, class: "thumbnail img-responsive")  %>
                  </div>
                </div>

          <% else %>
              <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %>

      </div>

        <div class="productDetail-right bg-color2">
             <h2> <%= @product.title %> </h2>
              <div style="height:100px;">
                <p>
                  <%= @product.description %>
                </p>
              </div>
              <div> 数量 : <%= @product.quantity %> </div>
              <div class="product-price"> ￥ <%= @product.price %> </div>
              <div id="getting-started"></div>
              <script type="text/javascript">
                $("#getting-started")
                .countdown("<%= Time.zone.now + 1.day %>", function(event) {
                  $(this).text(
                    event.strftime('%D days %H:%M:%S')
                  );
                });
              </script>

            <div class="pull-right">
              <% if @product.quantity > 0 %>
              <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-danger btn-lg") %>
              <% else %>
              已售馨
              <% end %>
            </div>
        </div>
    </div>


    <div class="productDecription">
      <div class="productDecription-menuList bg-color1">
        <div class="productDecription-menuList-item bg-color2">商品详情</div>
        <div class="productDecription-menuList-item bg-color3">商品评价</div>
      </div>

      <div class="productDecription-content bg-color4">
           <% if @photos.present? %>
              <% @photos.each_with_index do |p, index| %>
                 <% if index == 0 %>                          #第一幅图片显示为大图（index=0）
                   <%= image_tag p.avatar.medium.url %>
                   <div style="letter-spacing: -8px">
                 <% else %>
                   <%= image_tag p.avatar.thumb.url %>
                 <% end %>
               <% end %>
               </div>
            <% else %>
                <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
            <% end %><br>
      </div>

    </div>
