<div class="container">
  <div class="row">

    <head>
        <!-- <title>Bootstrap Example</title> -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .carousel-inner > .item > img,
            .carousel-inner > .item > a > img {
            width: 850%;
            margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="/products/27"><img src="http://www.yijia117.com/wcsstore/YiJiaStorefrontAssetStore/images/product/SG06010066/description/SG06010066_05.jpg" alt="Chania" style="width:12800px; height:480px"></a>
                    </div>
                    <div class="item">
                        <a  href="/products/7"><img src="http://image.suning.cn/uimg/sop/commodity/201312041221392327_x.jpg" alt="Chania" style="width:12800px; height:480px"></a>
                    </div>
                    <div class="item">
                        <a href="/products/8"><img src="http://www.yodmall.com/images/201703/goods_img/0_P_1490167531423.jpg" alt="Flower" style="width:1280px; height:480px"></a>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </body>

    <div class="col-md-6">
      <% if @product.image.present? %>
        <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2> <%= @product.title %> </h2>
      <div style="height:100px;">
        <p>
          <%= @product.description %>
        </p>
      </div>
      <div> 数量 : <%= @product.quantity %> </div>
      <div class="product-price"> ￥ <%= @product.price %> </div>
      <div class="pull-right">
        <% if @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-danger btn-lg") %>
        <% else %>
        已售馨
        <% end %>
      </div>
    </div>
  </div>
</div>
