

        <div class="navbar-wrap">
          <div class="navbar">
            <div class="navbar bg-color1">

               <div class="navbarContent">

                 <div class="navbarContent-left bg-color2">
                  <div class="navbar-left">
                    <a href="/">欢迎来到苏食肉庄！</a>
                  </div>
                 </div>

                 <div class="navbarContent-right bg-color3">
                  <ul class="navbar-list">
                    <% if !current_user %>
                      <li class="navbar-listItem">
                        <%= link_to("注册", new_user_registration_path) %>
                      </li>
                      <li class="navbar-spacer"></li>
                      <li class="navbar-listItem">
                        <%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %>
                      </li>

                    <% else %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                          Hi!, <%= current_user.email %>
                          <b class="caret"></b>
                      </a>

                      <ul class="dropdown-menu">
                          <% if current_user.admin? %>
                            <li>
                              <%= link_to("管理者", admin_products_path ) %>
                            </li>
                          <% end %>
                          <li>
                            <%= link_to("我的订单", account_orders_path )%>
                          </li>
                          <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                      </ul>
                    </li>
                   <% end %>
                 </ul>
               </div>

             </div>
            </div>
          </div>
        </div>


        <div class="header">
          <div class="headerContent">

          <div class="headerContent-item headerContent-item1 bg-color1">
            <div class="logo">
                 <li>
                  <%= link_to("苏食", products_path) %>
                 </li>
            </div>
          </div>

          <div class="headerContent-item headerContent-item2 bg-color2">
        	  <div class="search">
              <%= form_tag search_products_path , :method => :get do %>
                 <div class="input-group" id="search-id" >
                    <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="输入搜索商品">
                      <div class="input-group-btn">
                         <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                         </button>
                      </div>
                  </div>
               <% end %>
        		</div>
          </div>

            <div class="cart-wrap">
              <div class="headerContent-item headerContent-item3 bg-color3">
            	  <div class="cart">

                   <li>
                      <%= link_to carts_path do  %>
                         购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
                      <% end %>
                   </li>
               </div>
            </div>
          </div>

       </div>
      </div>


      <div class="menu bg-color1">
        <div class="menuList">
          <div class="menuList-item bg-color2">
            <ul class="nav navbar-nav navbar-left">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-e panded="false">全部分类<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                     <% Category.all.each do |category| %>
                       <li>
                        <%= link_to(category.name, products_path(category: category.name)) %>
                      </li>
                    <% end %>
                   </ul>
                  </li>
               </ul>
          </div>
          <div class="menuList-item bg-color5">苏食年猪</div>
          <div class="menuList-item bg-color5">土淮猪</div>
          <div class="menuList-item bg-color5">进口牛肉</div>
          <div class="menuList-item bg-color5">冰鲜禽</div>
          <div class="menuList-item bg-color5">全球水产</div>
          <div class="menuList-item bg-color5">其它</div>
        </div>
      </div>
